<!DOCTYPE html>
<html>
<head>
    <title>Contendify</title>
    <meta charset="utf-8">
    <!-- VENDOR STYLES -->
    <link rel="stylesheet" href="/vendor/bootstrap/dist/css/bootstrap.min.css">
    <!-- Jquery -->
    <script type="text/javascript" src="/vendor/jquery/dist/jquery.min.js"></script>
    <!-- MY STYLES -->
    <!-- <link rel="stylesheet" href="styles/main.css"> -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:700" rel="stylesheet">
    <style>
      * { margin: 0; padding: 0; box-sizing: border-box; }
      body { font: 13px Helvetica, Arial; }
      form { background: #000; padding: 3px; position: fixed; bottom: 0; width: 100%; }
      form input { border: 0; padding: 10px; width: 90%; margin-right: .5%; }
      form button { width: 9%; background: rgb(130, 224, 255); border: none; padding: 10px; }
    </style>
    <!-- Sockets  -->
    <script src="/socket.io/socket.io.js"></script>
    <!-- Scripts -->
    <!-- <script type="text/javascript" src="/scripts/script.js"></script> -->
    <script type="text/javascript" src="/scripts/game-socket.js"> </script>
    <!-- Katex -->
    <script type="text/javascript" async
  src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.0/MathJax.js?config=TeX-MML-AM_CHTML">
</script>
<body>
    <header>
        <nav class="navbar navbar-custom">
        <a class="navbar-brand custom" href="/">CONTENDIFY</a>
          <div class="container-fluid">
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                  <ul class="nav navbar-nav navbar-right">
                    <li id="login-button"><a  href="/login">Login</a></li>
                    <li id="logout-button"><a  href="#" >Logout</a></li>
                    <li id="signup-button" class="dropdown" >
                      <a href="/signup" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Sign up <span ></span></a>
                    </li>
                  </ul>
                </div><!-- /.navbar-collapse -->
              </div><!-- /.container-fluid -->
         </nav>
     </header>
        <div class="container-fluid">
          <form action="">
          </form>
            {{{body}}}
            <!-- <p>
            When $a \ne 0$, there are two solutions to \(ax^2 + bx + c = 0\) and they are
            $$x = {-b \pm \sqrt{b^2-4ac} \over 2a}.$$
            \(ax^2 + 5\)
            \(ax^2\)
            $$x = {-b \pm \sqrt{b^2-4ac} \over 2a}.$$
            </p> -->
         </div>

        <script>
            var socket = io();
        </script>

</body>
</html>
