<div class="col-sm-12">
    <legend>New Game</legend>
        <div class="">
            <input class="newGame" type="text" placeholder= "Name of Game" /></br>
        </div>
        <button class="btn btn-primary btn-responsive  button-create" id="createGame">Create Game</button>
</div>

<script>
    var socket = io();
</script>
