<!-- <script>
    $(function(){
        var socket = io.connect();
        socket.emit('new game')
        console.log('hahahahahahah')

        socket.on('newer game', function(data) {
            console.log(data.msg)
            console.log('hello')
        // window.location.href = "/games/new";

       });
    });
</script> -->

<div class="col-sm-12">
    <legend>Game Room</legend>
    {{#each game}}
        <h1>Title: {{this.gameName}}</h1>
    {{/each}}
</div>
