<!-- <div class="col-sm-12">
    <legend>New Game</legend>
    <form id='create'>
        <div class="form-group">
            <input class="newGame" type="text" placeholder= "Name of Game" name="" /></br>
        </div>
        <button class="btn btn-primary btn-responsive  button-create" id='createGame' type='submit'>Create Game</button>
    </form>
</div> -->
