<div id="preloader">
  <div id="status"></div>
  <img class="delay" src="http://deelay.me/1000/http://examplesite.com/image.gif">
</div>

<div class="heading-container">

  <div class="title">
    <h1>Contendify</h1>
    <hr class="underline">
  </div>

  <div class="subtitle">
    <h3>Don't be a dick.</h3>
  </div>

  <form class="form-container" id='createGame'>

    <div class="form-input">
      <h3>GROUP CODE</h3>
      <input type="text" id="group-code" name="group-code" placeholder="ENTER GROUP CODE" maxlength="4">
    </div>

    <div class="form-input">
      <h3>YOUR NAME</h3>
      <input type="text" id="name" name="user-name" placeholder="ENTER YOUR NAME" maxlength="12">
    </div>

    
    <button class="btn btn-primary btn-responsive  button-create start-button" type="submit" value="START GAME">Save</button>
    

  </form>

</div>
