<div class="heading-container">
  <div class="title">
    <h1>404</h1>
    <br>
  </div>
  <div class="subtitle">
    <h3>You really shouldn't be here...</h3>
    <br>
  </div>
  <div class="start-button">
    <a href="/">Back</a>
  </div>
  </div>
</div>
