<div class="heading-container">
      <div class="title">
        <h1>Contendify</h1>
        <hr class="underline">
      </div>
      <div class="subtitle">
        <h3>Learn by gaming.</h3>
      </div>
      <div class="form-container">
        <div class="form-input">
          <h3>GAME CODE</h3>
          <input type="text" id="game-code" name="game-code" placeholder="ENTER GAME CODE" maxlength="4">
        </div>
        <div class="form-input">
          <h3>YOUR NAME</h3>
          <input type="text" id="name" name="name" placeholder="ENTER YOUR NAME" maxlength="12">
        </div>
        <div class="join-button">
          <input type="submit" value="JOIN GAME" id="join-game">
        </div>
        <div class="or">
          <h3>OR</h3>
          <hr class="or-line">
        </div>
        <div class="start-button">
          <!-- <input type="submit" value="CREATE NEW GAME" id="create-game"> -->
          <a href="/new">CREATE NEW GAME</a>
        </div>
      </div>
</div>
