<!-- Create a new game here. -->
<div class="col-sm-12">
  <legend>New Game</legend>

  <form id='createGame'>
    <div class="form-group">
      <input type="text" placeholder= "Game Name" name="name"/>
      <input type="text" placeholder= "Game Code" name="gameCode"/>
    </div>
    <button class="btn btn-primary btn-responsive  button-create" type='submit'>Save</button>
  </form>

</div>
