<div class="heading-container">
  <div class="title">
    <h1>Contendify</h1>
    <hr class="underline">
  </div>
  <div class="subtitle">
    <h3>Learn by gaming.</h3>
  </div>
  <div class="form-container">
    <div class="form-input">
      <!-- Should be a game name, we will eventually generate the code ourselves to avoid collisions -->
      <!-- <h3>NICKNAME</h3> -->
      <input type="text" id="game-name" name="game-name" placeholder="NICKNAME" maxlength="20">
    </div>
    <div class="start-button">
      <input type="submit" value="START GAME" id="create-game">
    </div>
  </div>

</br>
</br>
</br>
</br>
</br>

  <div class="players-container" id="players-container" style="color: #ff0000;">
    <div class="player-container">
      <div class="indicator-container-one">
        <div class="indicator" id="i1"></div>
      </div>
      <div class="player-one" id="one">

      </div>
    </div>
    <div class="player-container">
      <div class="indicator-container-others">
        <div class="indicator" id="i2"></div>
      </div>
      <div class="player-others" id="two">
      </div>
    </div>
    <div class="player-container">
      <div class="indicator-container-others">
        <div class="indicator" id="i3"></div>
      </div>
      <div class="player-others" id="three">
      </div>
    </div>
    <div class="player-container">
      <div class="indicator-container-others">
        <div class="indicator" id="i4"></div>
      </div>
      <div class="player-others" id="four">
        <h1>&nbsp;MARQUAVIOUS</h1>
      </div>
    </div>
    <div class="player-container">
      <div class="indicator-container-others">
        <div class="indicator" id="i5"></div>
      </div>
      <div class="player-others" id="five">
        <h1>&nbsp;ALEX</h1>
      </div>
    </div>
    <div class="player-container">
      <div class="indicator-container-others">
        <div class="indicator" id="i6"></div>
      </div>
      <div class="player-others" id="six">
        <h1>&nbsp;MADHUR</h1>
      </div>
    </div>
    <div class="player-container">
      <div class="indicator-container-others">
        <div class="indicator" id="i7"></div>
      </div>
      <div class="player-others" id="seven">
        <h1>&nbsp;TASSOS</h1>
      </div>
    </div>
    <div class="player-container">
      <div class="indicator-container-others">
        <div class="indicator" id="iw"></div>
      </div>
      <div class="player-others" id="waiting">
        <h1><span class="waiting-border">WAITING FOR PLAYER 8</span></h1>
      </div>
    </div>
  </div>

</br>
</br>
</br>

  <div class="room-code">
    <h3>YOUR GAME CODE IS</h3>
    <div class="code-container" id='myTextContainer'>

    </div>
  </div>
 

  <!-- for the loading screen -->
  <script type="text/javascript" src="/scripts/games.js"></script>


</div>
