<div class="heading-container">
  <div class="title">
    <h1>Contendify</h1>
    <hr class="underline">
  </div>
  <div class="subtitle">
    <h3>Learn by gaming.</h3>
  </div>
  <div class="form-container">
    <div class="form-input">
      <!-- Should be a game name, we will eventually generate the code ourselves to avoid collisions -->
      <!-- <h3>NICKNAME</h3> -->
      <input type="text" id="game-name" name="game-name" placeholder="NICKNAME" maxlength="20">
    </div>
    <div class="start-button">
      <input type="submit" value="START GAME" id="create-game">
    </div>
  </div>
</div>
