<head>
  <!-- Styles -->
  <link rel="stylesheet" href="/styles/waiting.css">
</head>

<!-- Display question and answer options. When a user clicks on an answer, catch socket id of user and answer text
to compare with answer. -->
<div class="col-sm-12">
  <div id="connected-users">
    <p>Hello</p>
  </div>
</div>

<script type="text/javascript" src="/scripts/sockets.js"></script>
