<head>
  <!-- Styles -->
  <link rel="stylesheet" href="/styles/waiting.css">
</head>

<!-- Display question and answer options. When a user clicks on an answer, catch socket id of user and answer text
to compare with answer. -->
<!-- <div class="heading-container">
  <div class="title">
    <h1>Contendify</h1>
    <hr class="underline">
  </div>
  <div class="subtitle">
    <h3>Learn by gaming.</h3>
  </div>
  <div class="room-code">
    <h3>YOUR ROOM CODE IS</h3>
    <div class="code-container">
      <h1 class="code">CMYK</h1>
    </div>
  </div>
  <div class="press-spacebar">
    <p>Press</p>
    <div class="spacebar">
      <h3>SPACEBAR</h3>
    </div>
    <p>to start the game.</p>
  </div>
</div>
<div class="players-container">
  <div class="player-container">
    <div class="indicator-container-one">
      <div class="indicator" id="i1"></div>
    </div>
    <div class="player-one" id="one">
      <h1>&nbsp;COREY</h1>
    </div>
  </div>
  <div class="player-container">
    <div class="indicator-container-others">
      <div class="indicator" id="i2"></div>
    </div>
    <div class="player-others" id="two">
      <h1>&nbsp;CHANDAN</h1>
    </div>
  </div>
  <div class="player-container">
    <div class="indicator-container-others">
      <div class="indicator" id="i3"></div>
    </div>
    <div class="player-others" id="three">
      <h1>&nbsp;NABIL</h1>
    </div>
  </div>
  <div class="player-container">
    <div class="indicator-container-others">
      <div class="indicator" id="i4"></div>
    </div>
    <div class="player-others" id="four">
      <h1>&nbsp;MARQUAVIOUS</h1>
    </div>
  </div>
  <div class="player-container">
    <div class="indicator-container-others">
      <div class="indicator" id="i5"></div>
    </div>
    <div class="player-others" id="five">
      <h1>&nbsp;ALEX</h1>
    </div>
  </div>
  <div class="player-container">
    <div class="indicator-container-others">
      <div class="indicator" id="i6"></div>
    </div>
    <div class="player-others" id="six">
      <h1>&nbsp;MADHUR</h1>
    </div>
  </div>
  <div class="player-container">
    <div class="indicator-container-others">
      <div class="indicator" id="i7"></div>
    </div>
    <div class="player-others" id="seven">
      <h1>&nbsp;TASSOS</h1>
    </div>
  </div>
  <div class="player-container">
    <div class="indicator-container-others">
      <div class="indicator" id="iw"></div>
    </div>
    <div class="player-others" id="waiting">
      <h1><span class="waiting-border">WAITING FOR PLAYER 8</span></h1>
    </div>
  </div>
</div> -->
<!-- <div class="question">
    <h1>Which of these letters is a B ?</h1>
</div> -->
<!-- <div class="question-container">
  <div class="question">
    <h1>Michelle Joni operates a unique preschool in Brooklyn. All the students in the preschool are <span class="dash">_ _ _ _ _ _.</span></h1>
  </div>
</div> -->
<div class="question-container">
    <div id="questions">
        {{#each game.questions}}
            <!-- <img src="https://d18l82el6cdm1i.cloudfront.net/image_optimizer/3660bc360b3ea19b57a508f606f59abe92790671.png" alt> -->
            <div class="question" data-id="{{this._id}}" style= "display:none;">
              <h1>{{this.body}}</h1>
            </div>
        {{/each}}
        <img src="https://d18l82el6cdm1i.cloudfront.net/image_optimizer/3660bc360b3ea19b57a508f606f59abe92790671.png" style="width:200px;height:200px;border:0;">
    </div>
    <div class="lie" id="answer-input">
      <input type="text" class="fake-answer" id="fake-answer" name="fake-answer" placeholder="ENTER YOUR DISTRACTOR">
      <div class="lie-background"></div><br>
      <input type="submit" class="submit-lie" value="SUBMIT" id="submit-lie">
    </div>

    <div class="answers" id="answers" style="display:none;">
        <input class="answer" type="submit" value="B">
        <input class="answer" type="submit" value="B">
        <input class="answer" type="submit" value="C">
        <input class="answer" type="submit" value="D">
        <input class="answer" type="submit" value="E">
    </div>
    <div class="answer-alert" id="correct-answer-alert" style="display: none;">

    </div>
    <script type="text/javascript" src="/scripts/sockets.js"></script>
</div>
