<head>
  <!-- Styles -->
  <!-- <link rel="stylesheet" href="/styles/application.css"> -->
</head>

<div class="question-container">
    <!-- Display score throughout game -->
    <div id="score-display" class="score">
        <span style='color: #39b54a;font-size:1.2em;'></span>
        <br>
        <span style='font-size:0.7em;color: #aaa;padding-top:10px;'></span>
        <br>
        <span style='font-size: 3em; color: #39b54a;padding-bottom:5px;'>10</span>
    </div>
    <div id="questions">
        {{#each game.questions}}
            <div class="question" data-id="{{this._id}}" style= "display:none;">
              <h1>{{this.body}}</h1>
            </div>
        {{/each}}
    </div>
    <div class="lie" id="answer-input">
      <input type="text" class="fake-answer" id="fake-answer" name="fake-answer" placeholder="ENTER YOUR LIE">
      <div class="lie-background"></div><br>
      <input type="submit" class="submit-lie" value="SUBMIT LIE" id="submit-lie">
    </div>

    <div class="answers" id="answers" style="display:none;">
        <input class="answer" type="submit" value="B">
        <input class="answer" type="submit" value="B">
        <input class="answer" type="submit" value="C">
    </div>

    <!-- Score display -->
    <!-- <h1>Score: </h1> -->
    <div id="game-summary" style="display: block;">
        <span style='color: #39b54a;font-size:1.2em;'></span>
        <br>
        <span style='font-size:0.7em;color: #aaa;padding-top:5px;'></span>
        <br>
        <span style='font-size: 3em; color: #39b54a;padding-bottom:5px;'></span>
    </div>

    <!-- Display if they got question right or wrong -->
    <div class="answer-alert-container">
      <div class="answer-alert answer-alert-display" id="correct-answer-alert"></div>
    </div>

    <script type="text/javascript" src="/scripts/sockets.js"></script>
</div>
