<head>
  <!-- Styles -->
  <link rel="stylesheet" href="/styles/waiting.css">
</head>

<!-- <div class="waiting-container">
  <div class="user connected last-user">

  </div>

  <div class="user waiting">

  </div>

  <div class="user waiting">

  </div>

  <div class="user waiting">

  </div>
</div> -->

<div class="question-container">
    <div id="questions">
        {{#each game.questions}}
            <div class="question" data-id="{{this._id}}" style= "display:none;">
              <h1>{{this.body}}</h1>
            </div>
        {{/each}}
    </div>
    <div class="lie" id="answer-input">
      <input type="text" class="fake-answer" id="fake-answer" name="fake-answer" placeholder="ENTER YOUR LIE">
      <div class="lie-background"></div><br>
      <input type="submit" class="submit-lie" value="SUBMIT LIE" id="submit-lie">
    </div>

    <div class="answers" id="answers" style="display:none;">
        <input class="answer" type="submit" value="B">
        <input class="answer" type="submit" value="B">
        <input class="answer" type="submit" value="C">
        <input class="answer" type="submit" value="D">
        <input class="answer" type="submit" value="E">
    </div>
    <div class="answer-alert" id="correct-answer-alert" style="display: none;">

    </div>
    <script type="text/javascript" src="/scripts/sockets.js"></script>
</div>
