<head>
  <!-- Styles -->
  <link rel="stylesheet" href="styles/waiting.css">
</head>

<!-- Display question and answer options. When a user clicks on an answer, catch socket id of user and answer text
to compare with answer. -->
<div class="col-sm-12">
  <legend>What is the quadratic formula?</legend>
  <div id="optionOne">
    <!-- <a href="#"><p>$$x = {-b \pm \sqrt{b^2-4ac} \over 2a}.$$ </p></a></br> -->
  </div>
  <div id="optionTwo">
    <a href="#">
      <p> $$x = {-b \pm \sqrt{c^2-4b} \over 2b}.$$ </p>
    </a>
    </br>
  </div>
  <div id="optionThree">
    <a href="#">
      <p> $$a = {-b \pm \sqrt{b^2-4xc} \over 2a}.$$ </p>
    </a>
  </div>
</div>
