<head>
  <!-- Styles -->
  <link rel="stylesheet" href="/styles/waiting.css">
</head>

<!-- <div class="main-container"> -->
  <div class="heading-container">
    <div class="title">
      <h1>Contendify</h1>
      <hr class="underline">
    </div>
    <div class="subtitle">
      <h3>Learn by gaming.</h3>
    </div>
    <div class="room-code">
      <h3>ROOM CODE</h3>
      <div class="code-container">

          <a href="" onClick="onclick="copier()""><h3>CLICK CODE TO COPY</h3></a>
          <h1 id="myText">{{game.code}}</h1>
      </div>
    </div>
    <div class="press-spacebar">
      <div class="spacebar">
          <!-- <h3>SPACEBAR</h3> -->
          <a href="start/{{game.code}}"><h3>START GAME</h3></a>
      </div>
    </div>
  </div>

  <div class="players-container" style="color:white; padding-left: 5em;">
        <div class="player-container">
          <!-- <div class="indicator-container-one">
            <div class="indicator" id="i1"></div>
          </div> -->
          <div class="player-one" id="container">

          </div>
        </div>
        <!-- <div class="player-container">
          <div class="indicator-container-others">
            <div class="indicator" id="iw"></div>
          </div>
          <div class="player-others" id="waiting">
            <h1><span class="waiting-border">WAITING FOR PLAYER 8</span></h1>
          </div>
        </div> -->
  </div>

  <!-- <div id="container" style="color:white; padding-left: 10em; padding-top: 5em;">
  </div> -->

<!-- </div> -->




<script>
    function copier(){
            document.getElementById('myText').select();
            document.execCommand('copy');
    }
    var socket = io(); // Create socket instance
    $(document).ready(function(){
        var decodedJson = decodeURIComponent("{{{encodedJson}}}");
        var jsonObj = JSON.parse(decodedJson);

        //Send message that a player was added
        socket.emit('added:player', jsonObj.playerName);
        //Once a player is added, receive that message and update waiting screen
        socket.on('added:more players', function(playerNames){
            $("#container").empty();

            $.each(playerNames, function(index, name){
                $("#container").append("<h1>" + name + "</h1>")})
            });

        $("a").on('click', function(event) {
            if (this.hash !== "") {

                event.preventDefault();
                var hash = this.hash;

                $('html, body').animate({

                    scrollTop: $(hash).offset().top
                    }, 800, function(){

                        window.location.hash = hash;

                });
            }
        });
    });
</script>

<script scr="js/main.js" type="text/javascript"></script>

<!-- <script type="text/javascript">
    var preloader = document.getElementById('preloader');
    window.addEventListener('load', function(){
        preloader.style.display = 'none';
    })
</script> -->



/*<style>
    a:link {
        color: #39b54a;
        background-color: transparent;
        text-decoration: none;
    }
    a:hover {
        color: #f1f2f2;
        background-color: transparent;
    }


</style>*/
